body {
  margin:       0;
  padding:      0;
  font:         16px/1.5 Helvetica, Arial, sans-serif;
  text-align:   center;
}

.input {
  width:        352px;
}

#page {
    width: 320px;
    height: 460px;
}

label {
  color:        #444;
  font-weight:  bold;
}

ul, li {
  list-style:   none;
  margin:       0;
  padding:      0;
}
